:root {
   --gap: 24px;
   --content-gap: 20px;
   --nav-width: 1024px;
   --main-width: 720px;
   --header-height: 60px;
   --footer-height: 60px;
   --radius: 8px;
}

body{
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
  color:#111111;
  font-size: 18px;
  line-height: 1.6;
  background-color:#ffffff;
  padding:16px;
  text-align: left;
  max-width: 720px;
  position: relative;
  margin: auto;
  box-sizing: border-box;
}

h1,h2,{
  line-height: 1.2;
  font-size:26px;
  color:#11111;
}

header{
  color:#003D5B;
}

h3,{
  font-size:24px;
  color:#111111;
}

p{
  font-size:18px;
  color:#111111;
  line-height:1.6em;
}

sup{
	font-size:10px
}

a{
  font-size:18px;
  color:#D1495B;
}

nav a, footer div a{
	margin:0px 5px;
}
<!--This is what spaces the links out in the nav area -->
nav{
   display:block;
}

nav ul{
  list-style-type:none;
  margin:0px;
  padding:0px;
}

nav li{
  display: inline-block;
}

nav li:after{
  margin:0px 8px;
  content: "/";
  text-decoration: none;
}

nav a{
  color:#00798C;
}

img{
  width:100%;
}

figure{
  margin:0px;
}

footer div a{
  margin:0px 8px;
}

footer{
  margin-top:64px;
  text-align: center;
}

footer a{
  font-size:18px;
  color:#EDAE49;
}

footer input[type="email"]{
  padding:4px;
}

footer button{
  padding:5px;
  margin-left:4px;
  cursor: pointer;
}
